<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
</head>

<body>
    <h1>Welcome to the Home Page</h1>
    {% if user.is_authenticated %}
    <p>Hello, {{ user.username }}!</p>
    <p><a href="{% url 'dashboard' %}">Go to Dashboard</a></p>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% else %}
    <p><a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a></p>
    {% endif %}
</body>

</html>
